# Python
__pycache__/
*.py[cod]
.env
.venv
mlenv/

# MLflow tracking data
mlruns/

# Logs
*.log
logs/

# Jupyter checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Virtual environments (alternative names)
env/
venv/

# Ignore everything in data/ except our real dataset
data/*
!data/mansour-realestate.csv
